
#bedroom {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#toster {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#water_bottle {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#blender {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#stove {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#refrigerator {
    font-size: 26;
    font-family: cursive;
    background-color: #d9effc;
}

#title {
    background-color: #f7d2e7;
    font-family: cursive;
    font-size: 30;
}